<div class="home change">

    <div>

        <table>
            <tr>

                <th>MSSV</th>

                <th>Tên</th>

                <th>Gioi Tinh</th>
                <th>Dia Chi</th>
                <th>Lop</th>
                <th>Mat khau</th>
                <th> Avatar</th>
                <th> Sửa</th>

            </tr>
            {{#each data}}

            <tr>

                <td>{{this.MSSV}}</td>
                <td>{{this.Name}}</td>
                <td>{{this.Sex}}</td>
                <td>{{this.Address}}</td>

                <td>{{this.Class}}</td>
                <td>{{this.password}}</td>
                <td> <img  class="Avatar" src="{{this.img}}"   /></td>
                <td><a href="/change/profile/MSSV={{this.MSSV}}">Sửa</a>
                    {{!-- <button type="button" class="btn btn-primary btn_delete" data-bs-toggle="modal"
                        data-bs-target="#Delete_button">
                        Xoá
                    </button> --}}

            </tr>
            {{/each}}

            {{!-- <div id="Delete_button" class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Thông báo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="body_text">Bạn có xác nhận muốn xoá sinh viên {{this.name}} </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                            <button class="btn btn-primary">Xoá</button>
                        </div>
                    </div>
                </div>
            </div> --}}
        </table>


    </div>
    <div>
        <a href="/dangky">Thêm sinh viên</a>
    </div>

</div>
<script>


</script>